/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Fonts*/

body {
  font-family: 'Fraunces', serif;
  background-color: hsl(30, 38%, 92%);
  margin: 0;
    min-height: 100vh;
  display: flex;
   justify-content: center;
  align-items: center;
}

h1 {
font-size: 40px;
width: 250px;
}

p {
  font-family: 'Montserrat', serif;
  font-weight: 500;
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    line-height: 140%;
}

main {
    display: flex;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;
}

.product-image, .product-details {
  width: 50%;
}

.product-image {
  width: 50%;
  object-fit: cover;
}


.product-details {
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;

}

.category {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 18px;
    color: hsl(228, 12%, 48%);
}

.price {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

#discounted-price{
    font-size: 40px;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

#original-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button {
  margin-top: 30px;
  background-color: hsl(158, 42%, 18%);
  width: 100%;
  height: 55px;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  gap: 10px;
  border: none;
}

button:hover{
    cursor: pointer;
}



button .cart-icon {
  width: 15px;             
  height: 15px;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}


/*Mobile layouts*/
@media (max-width: 600px) {
  main {
    flex-direction: column;
    width: 90%;
     margin: 20px auto;
  }
  .product-details {
    width: 100%;
    height: auto;
  }
  .product-image {
    height: 350px;
    width: 100%;
    object-position: center;  
    object-fit: cover;
    content: url(images/image-product-mobile.jpg);
} 
    h1 {
    font-size: 35px;
    width: 100%;
}
}